@import url("https://fonts.googleapis.com/css?family=Poppins:700");

:root {
  --color-values: #5614b0, #dbd65c;
  --rotation-value: 90deg;
  --font-fam-bam: "Poppins", sans-serif;
  --font-size: 13vw;
  --background: white;
  --freakout-speed: 5s;
  --background-size: 400%;
  --linear-gradient-rotation: var(--rotation-value);
}

* {
  margin: 0;
  padding: 0;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-fam-bam);
  background: linear-gradient(var(--rotation-value), var(--color-values));
  background-size: var(--background-size) var(--background-size);

  -webkit-animation: FreakOut var(--freakout-speed) ease infinite;
  -moz-animation: FreakOut var(--freakout-speed) ease infinite;
  animation: FreakOut var(--freakout-speed) ease infinite;
}

.perspective {
  perspective: 1000px;
}

.wrapper {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
}

.effect {
  animation: 0.25s ease-in 0.5s both Boom;
  transform-style: preserve-3d;
  transform-origin: center;
}

.font {
  text-align: center;
  font-size: var(--font-size);
  line-height: 1.1;
  color: var(--background);
  padding: 5vw;
  word-wrap: break-word;
  text-transform: none;
  text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25),
    -20px 20px 20px rgba(0, 0, 0, 0.05), -30px 30px 30px rgba(0, 0, 0, 0.05);
}

.body {
  overflow: hidden;
}

.button {
  position: absolute;
  bottom: 5%;
  right: 50px;
  line-height: 1;
  background-color: white;
  font-family: var(--font-fam-bam);
  border: 0 none;
  padding: 30px;
  color: #111;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  opacity: 0.9;
  outline: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, var(--background) 0.5s ease;
}

#refreshIcon {
  fill: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.button:active {
  transform: scale(0.85);
}

/* Animations */

@keyframes FreakOut {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Boom {
  0% {
    opacity: 0;
    transform: scale(0.85) rotateX(90deg);
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1) rotateX(0deg);
  }
}
